certifi==2020.12.5
colorlog==4.6.2
i2cdevice==0.0.7
influxdb-client==1.13.0
pimoroni-bme280==0.1.1
Pypubsub==4.0.3
pyserial==3.5
python-dateutil==2.8.1
pytz==2020.5
Rx==3.1.1
six==1.15.0
smbus==1.1.post2
urllib3==1.26.2
